body {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 50%;
  margin: auto;
}

.article{
margin: 1rem;
background: white;
box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
border-radius: 12px;
overflow: hidden;
transition: all .2s linear;
padding: 1em;
}

.article:hover{
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}

#page_title{
  text-align: center;
  padding: 1.5rem 2.5rem;
  background-image: linear-gradient(0deg, #cafff8 0%, #ffffff 100%);
  font-size: 1.5rem;
  color: black;
}

#news_section{
  text-align: center;
  padding: 1.5rem 2.5rem;
  margin: 0 0 1rem 0;
  /* font-size: 1.5rem; */
  color: black;
}
