* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F3F3EE;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article{
margin: 1rem;
background: white;
box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
border-radius: 10px;
overflow: hidden;
transition: all .2s linear;
padding: 1em;
width: 300px;
}

.article:hover{
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}

.thumbnail{
  width: 100%;
  height: 150px;
}

.article_link{
    text-decoration: none;
    color: #ff653f;
}

header {
  background-color: white;
}

#logo {
    width: 100px;
    position: relative;
    margin-left: 10em;
  }

#news_section{
  text-align: center;
  padding: 1.5rem 2.5rem;
  color: #3399ff;
}
