.hide-me {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #5a5a5a;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}

h2, h3, h4, h5, h6 {
  color: #5a5a5a;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 1px 0;
}

p, ul, ol {
  margin-bottom: 1.5em;
  font-size: 16px;
  color: #848484;
  font-family: "Open Sans", Arial, sans-serif;
}
