* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(makersNews.jpeg);
  background-size: cover;
  background-position: top center;
  /* temp font colour  */
  color: white;
  
}

.main-content {
  min-height: 100vh;
}

header {
   /* temp font colour  */
  color: aqua;
}

