h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
  <!-- font-family: 'Abril Fatface', cursive; -->
  <!-- font-family: 'Playfair Display', serif; -->
<!-- font-family: 'Montserrat', sans-serif; -->
<!-- font-family: 'Montserrat Alternates', sans-serif; -->
<!-- font-family: 'Montserrat Subrayada', sans-serif; -->

}

h2 {
font-family: 'Montserrat', sans-serif;
}

.thumbnail{
cursor: pointer;
}

.heading{
cursor: pointer;
}

p {
font-family: 'Montserrat', sans-serif;
}

.backbutton {
font-family: 'Montserrat', sans-serif;
cursor: pointer;
border: 1px solid #0066cc;
background-color: #0099cc;
color: #ffffff;
padding: 5px 10px;
margin: 5px 5px;
}

.backbutton:hover {
border: 1px solid #0099cc;
background-color: #00aacc;
color: #ffffff;
padding: 5px 10px;
}
