body {
  margin: 0px;
}

/* GLOBAL STYLES */
.typewriter {
  background: #333;
  display: flex;
  justify-content: center;
  line-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 263px }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.items {
  background: white;
  width: 90%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.items img {
  width: 90%;
}

.item {
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  border-radius: 4%;
  height: 350px;
  margin: 5%;
  padding: 5%;
}

@media only screen and (max-width: 800px) {
  /* For tablets: */
  [class="items"] {
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 400px) {
  /* For mobile phones: */
  [class="items"] {
    grid-template-columns: 100%;
  }
}

.item img {
  border-radius: 5%;
  width: 90%;
}

.item h3 {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color:black;
}

.info {
  font-family: Arial, Helvetica, sans-serif;
}

.item-large {
  font-family: Arial, Helvetica, sans-serif;
}

.item-large p {
  text-align: justify;
}

.home-button {
  color: white;
  font-family: monospace;
  font-size: 20px;
  position: sticky;
  top: 0px;
  left: 8%;
  line-height: 60px;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}