@import url('https://fonts.googleapis.com/css?family=News+Cycle');

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes color-me-in {
  0% {
    background: #E9E8E3;
  }
  100% {
    background: #0F7BAC;
  }
}

body {
  background-color: #E9E8E3;
  font-family: 'News Cycle', sans-serif;
}

h1 {
  background-color: #0F7BAC;
  font-size: 8em;
  font-family: 'News Cycle', sans-serif;
  text-align: center;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 30px;
  padding-right: 40px;
  height: 250px;
  animation: color-me-in 2s;
}

h2 {
  font-size: 3em;
  text-align: center;
  color: rgb(79, 80, 81);
  margin-top: 0;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

ul {
  margin-left: 10px;
  margin-right: 40px;
  max-width: 95%;
  list-style-image: url('./images/news-icon.png')
}

li {
  font-size: 1.2em;
  /* animation: 1s ease-out 0s 1 slideInFromLeft; */
}


a {
  text-decoration: none;
  color: rgb(172, 15, 75);
}

a:hover {
  color: rgb(23, 172, 231)
}

img {
  border-radius: 12px;
  min-width: 100%
}

img#logo {
  padding-right: 20px;
  max-width: 10%;
  height: auto;
  width: auto\9;
  margin-top: 0;
  margin-bottom: 0
}

div#single-article-view {
  margin-left: 10px;
}

p#headlines {
  color: #0F7BAC;
}

button {
  font-size: 3em;
  color: #0F7BAC;
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 10px;
  padding-bottom: 10px
}

button:active {
  color: rgb(172, 15, 75);
  outline: none
}