* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 600px) {
  #main-container {
    flex-direction: column;
  }
  .article {
    display: block;
    margin: 10px;
    width: 250px;
  }
}

@media screen and (min-width: 800px) {
  #main-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .article {
    height: 375px;
  }

  .article img {
    width: 400;
    height: 500;
  }

  h1 {
    font-size: 70px;
  }
}

#page-header {
  background-color: #f5cd6f;
  text-align: center;
  justify-items: center;
  padding: 30px;
  border-style: solid;
  border-width: 20px;
  border-color: #65054a;
  border-radius: 8px;
}

#page-header h1 {
  font-weight: 700;
  color: #870763;
  text-size-adjust: auto;
}

#search-div {
  background-color: #c29cc8;
  padding: 30px;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-width: 20px;
  text-align: center;
  justify-items: center;
}

#news-search-button {
  background-color: #64054a;
  border: none;
  color: white;
  text-align: center;
}

#news-search-button:hover {
  background-color: #e50da8;
  color: darkslategray;
}

#main-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #10035b;
  border-radius: 8px;
}

.error-message {
  background-color: #e50da8;
  color: #10035b;
  padding: 50px;
  margin: 20px;
  text-align: center;
  font-weight: 700;
  border-radius: 8px;
  width: 80%;
}

.article {
  background-color: #f7d990;
  border-radius: 8px;
  width: 500px;
  margin: 20px;
}

.article p {
  display: block;
  text-align: center;
  color: #65054a;;
  font-weight: 700;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

.article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400;
  height: 400;
  border-radius: 8px;
  width: 80%;
}

.article a {
  display: block;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

a:link {
  color: #120367;
  text-decoration: none;
}

a:visited {
  color: #9d8dfb;
  text-decoration: none;
}

a:hover {
  color: #e50da8;
  text-decoration: underline;
}



