* {
  font-family: 'Montserrat';
}

h1 {
  font-weight: bolder;
  font-weight: 800;
  color: #FEEFDD;
  background-color: #2F52E0;
  padding: 3%;
  margin: 0;
  text-align: center;
}

h2 {
  color: #FF715B;
  font-weight: 600;
  margin: 20px;
}

a {
  color: #2F52E0;
  width: 80%;
  text-decoration: none;
}

p {
  color: #4C5B5C;
}

.search-box {
  background-color: #FEEFDD;
  padding: 5%;
}

.search-bar {
  border: none;
  border-radius: 10px;
  width: 250px;
  height: 30px;

}

.search-btn {
  border: none;
  border-radius: 10px;
  width: 75px;
  height: 30px;
  color: #fdfdfd;
  font-weight: 600;
  background-color: #2F52E0;
  
}

.container {
  margin: auto;
  width: 80%;
}



.feed {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-auto-rows: minmax(300px, auto);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.article {
  padding: 1rem;
  height: 4rem;
}

img {
  width: 90%;
}

