body {
  background-color: whitesmoke(222, 214, 189);
  font-family: "Guardian Text Egyptian Web", Georgia, serif;
}

h1 {
  margin-top: -12px;
  margin-left: -10px;
  padding: 20px;
  background-color: rgb(187, 185, 185);
  color: rgb(250, 247, 247);
  border-bottom: grey;
}

a.article-link {
  margin: 5px;
  color: rgb(194, 7, 7);
}

div.headline {
  border: 0.5px solid rgb(133, 133, 133);
  border-top: 0.5px solid rgb(194, 7, 7);;
  border-radius: 5px;
  width: 500px;
  height: 60;
  padding: 10px;
  margin: 10px;
  font-style: italic;
  
  background-color: rgb(237, 234, 234);
} 

div.article-body {
  border-radius: 5px;
  /* border: 0.5px solid rgb(133, 133, 133); */
  padding: 5px;
  margin: 5px;
  font-style: normal;
  background-color: rgba(255, 251, 251, 0.516);
  -webkit-mask-image:linear-gradient(180deg, #000 50%, transparent);
  
}


img.article-img {
  border-radius: 5px;
  margin-bottom: 5px;

}

