body {
  font-family: "Roboto Mono", monospace;
  background-color: rgb(238, 233, 210);
  margin: auto;
}

ul {
  color: rgb(207, 41, 41);
  margin: 10;
  padding: 70px 0;
  list-style-type: none;
}

li {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}

a {
  font-family: "Roboto Mono", monospace;
}