* {
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  text-align: center;
  min-height: 100%;
  background-image: url("images/background.jpg");
}

h1 {
  margin-top: 1.5em;
  padding: 0.25em 0.5em;
}

.title-news i, .title-headlines i {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2em;
}

h1.title-news {
  display: inline-flex;
  background-color: #ccc;
  color: #333;
  font-weight: bold;
}

h1.title-headlines {
  display: inline-flex;
  background-color: #333;
  color: #ccc;
  font-weight: bold;
}

.search-content {
  margin: 2em auto 0;
  max-width: 600px;
  width: 100%;
}

input[type=text] {
  padding: 0.5em;
  max-width: 500px;
  height: 3em;
  width: 83%;
  border-radius: 0;
  border: 0.2em solid #bbb;
  text-align: center;
  outline: none;
  transition: 0.4s;
}

input[type=text]:focus {
  border-radius: 0;
  border: 0.2em solid #333;
}

#search-content-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: none;
  padding: 1em;
  background-color: #bbb;
  height: 3em;
  width: 16%;
  transition: 0.1s;
}

#search-content-btn:hover {
  background-color: #333;
  color: #ccc;
}

.article {
  margin: 1em auto 2em;
  border: 0.2em solid #bbb;
  background-color: #fff;
  padding: 2em 2em 1em;
  max-width: 600px;
  width: 100%;
}

.article-image {
  box-sizing: border-box;
  max-width: 500px;
  height: 100%;
  outline: #ccc solid 0.2em;
  margin: 0;
  padding: 0;
}

.article a {
  text-decoration: none;
}

.article-headline {
  margin: 0.5em auto 0;
  display: flex;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  color: #333;
}

.article-headline:hover {
  color: #777;
  cursor: inherit;
  text-decoration: inherit;
}
