body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Special Elite', cursive;
  overflow: scroll;
}

.header {
  padding: 20px;
  text-align: center;
  background: linear-gradient(90deg, #eff6f8 0%, #93b3b9 100%);
  color: black;
  font-size: 80px;
  opacity: 0.9;
}

.search {
  background: linear-gradient(90deg, #eff6f8 0%, #93b3b9 100%);
  padding: 10px;
  opacity: 0.9;
}

.headline {
  width: 1200px;
  margin: auto;
  padding: 10px;
  text-align: center;
  background: linear-gradient(90deg, #eff6f8 0%, #93b3b9 100%);
  opacity: 0.9;
}

.padding {
  padding: 20px;
  background-color: transparent;
}

.image {
  box-shadow: 10px 5px 5px rgb(98, 168, 180);
  opacity: 1.0;
}

a:link {
  color: black;
  text-decoration: none;
  font-size: 30px;
}

a:visited {
  color: rgb(2, 36, 56);
  text-decoration: none;
  font-size: 30px;
}

a:hover {
  color: black;
  text-decoration: none;
  font-size: 32px;
}

a:active {
  color: black;
  text-decoration: none;
  font-size: 32px;
}