<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HEADLINES</title>
    // script files to be tested
    <script src="../scripts/current-date-model.js" defer></script>
    // script test files
    <script src="../../tester/tester-helper.js" defer></script>
    <script src="../../tester/tests/current-date-test.js" defer></script>
  </head>
  <body>
    <h1>TESTER</h1>
    <h3>Test Framework for NEWS SUMMARY SINGLE-PAGE WEB APP</h3>
    </br>
    </br>
    <div id="result"></div>
  </body>
</html>
