<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- include source files here... -->
    <script src="../../lib/testRunner.js"></script>
    <script src="../src/article.js"></script>
    <script src="../src/articleList.js"></script>

    <!-- include spec files here... -->
    <script src="../../spec/assertions.js"></script>
    <script src="../../spec/articleSpec.js"></script>
    <script src="../../spec/articleListSpec.js"></script>
  </head>
  <body>
    <div>
      <ul id="test-list">
      </ul>
    </div>
    <script>
      runner.run()
   </script>
  </body>
</html>
