<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bunker Feed</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <div class="frame">
        <div class="title-container">
          <h1>Bunker Feed.</h1>
        </div>
        <div class="body-container-feed">
          <div class="introvert-feed-control">
            <% if (session.name) { %>
              <h1><%= session.name %></h1>
            <% } else { %>
              <h1>Welcome Stranger</h1>
            <% } %>
          </div>
          <div class="category-menu">
            <div class="button-container">
              <button class="category-button">News</button>
            </div>
            <div class="button-container">
              <button class="category-button">Sport</button>
            </div>
            <div class="button-container">
              <button class="category-button">Culture</button>
            </div>
          </div>
          <div class="search-container">
            <form>
              <input type="text">
              <input type="button" value="Search A Topic">
            </form>
          </div>
          <div class="feed-container">
            <ul class="article-list">
              <li>
                <div class="article-container">
                  <div class="article-header">
                    <div>
                      Title
                    </div>
                    <div class="article-details">
                      <div class="article-author">
                        Author
                      </div>
                      <div class="article-pub-date">
                        Pub Date
                      </div>
                    </div>
                  </div>
                  <div class="article-body">
                    <div class="image-container">
                      Image
                    </div>
                    <div class="description-container">
                      Description
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
	<script type="text/javascript" href="feed.js"></script>
  </body>
</html>