<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
  </head>
  <h1>Today's headlines:</h1>
  <body>
    headlines go here...
    some more.
  </body>
  <div class="guardian-logo-and-link">
    <a href="https://www.theguardian.com/uk">
      <img src="../poweredbyguardianBLACK.png" alt="Guardian Logo">
    </a>
  </div>
  <script src="../api-key.js"></script>
  <script src="../models/data.js"></script>
  <script src="../news.js"></script>
</html>
