<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <title></title>
    <script type="text/javascript">
    </script>
  </head>
  <h1 id="header" class="container">Today's headlines:</h1>
  <body >



    <div id="summary" class="container">
      <ul>
        <hr>
        <div id=0 class="container"></div>
        <hr>
        <div id=1 class="container"></div>
        <hr>
        <div id=2 class="container"></div>
        <hr>
        <div id=3 class="container"></div>
        <hr>
        <div id=4 class="container"></div>
        <hr>
        <div id=5 class="container"></div>
        <hr>
        <div id=6 class="container"></div>
        <hr>
        <div id=7 class="container"></div>
        <hr>
        <div id=8 class="container"></div>
        <hr>
        <div id=9 class="container"></div>
        <hr>
      </ul>
    </div>
  </body>
  <div class="guardian-logo-and-link">
    <a href="https://www.theguardian.com/uk">
      <img src="../poweredbyguardianBLACK.png" alt="Guardian Logo">
    </a>
  </div>
  <script src="../api-key.js"></script>
  <script src="../models/data.js"></script>
  <script src="../news.js"></script>
</html>
