<h1> {{title}} </h1>

<div>
  <h3><a href="#article/{{id0}}"> {{title0}} </a></h3>
  <img src={{img0}}>
</div>
<div>
  <h3><a href="#article/{{id1}}">{{title1}}</a></h3>
  <img src={{img1}}>
</div>
<div>
  <h3><a href="#article/{{id2}}"}>{{title2}}</a></h3>
  <img src={{img2}}>
</div>
<div>
  <h3><a href="#article/{{id3}}">{{title3}}</a></h3>
  <img src={{img3}}>
</div>
<div>
  <h3><a href="#article/{{id4}}">{{title4}}</a></h3>
  <img src={{img4}}>
</div>
<div>
  <h3><a href="#article/{{id5}}">{{title5}}</a></h3>
  <img src={{img5}}>
</div>
<div>
  <h3><a href="#article/{{id6}}">{{title6}}</a></h3>
  <img src={{img6}}>
</div>
<div>
  <h3><a href="#article/{{id7}}">{{title7}}</a></h3>
  <img src={{img7}}>
</div>
<div>
  <h3><a href="#article/{{id8}}">{{title8}}</a></h3>
  <img src={{img8}}>
</div>
<div>
  <h3><a href="#article/{{id9}}">{{title9}}</a></h3>
  <img src={{img9}}>
</div>
