<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bunker Feed</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <div class="frame">
        <div class="title-container">
          <h1>The Embattled MP's News Feed</h1>
        </div>
        <div class="body-container">
          <div class="name-form-container">
            <form action="/" method="post">
              <input type="text" name="name"></input>
              <button type="submit">Enter</button>
            </form>
          </div>
          <div class="anon-container">
            <div class="anon-title-container">
              <h1 class="title">Or Press here for an Anonymous News Feed!</h1>
            </div>
            <div class="anon-button-container">
              <form action="/" method="post" class="anon-button">
                <button type="submit">Press Here!</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
	<script src="index.js"></script>
  </body>
</html>