<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <!-- <script src="../interface.js"></script> -->

    <title>News Summary</title>
</head>
<body>
    <div id="page">
        <div class="">
            <header class="page-header">
                <div id="app-title">
                    <h1>Alexa's News</h1>
                </div>
            <section class="date-info">
                <div id="date">
                    <time id="todays-date">Today's date</time>
                </div>
            </section>
            </header>
        <div class="main-content" id="main-content">
            <main id="site-content">
                <div id="content-padding">
                    <div>
                        <section class="content">
                            <div class="first-section">
                                <div class="article">
                                    <article class="article-content">
                                        <a>Article</a>
                                    </article>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <footer>

                </footer>
            </main>
        </div>
    </div>
</body>
</html>