<div id="page">
    <div class="">
        <header class="page-header">
            <div id="app-title">
                <h1>Alexa's News</h1>
            </div>
        <section class="date-info">
            <div id="date">
                <time id="todays-date">Today's date</time>
            </div>
        </section>
        </header>
        <div id="actual-article">
            <div id="id-num"></div>
        </div>
        <div class="main-content" id="main-content">
            <main id="site-content">

            </main>
    </div>
</div>
</body>
</html>

<!-- 
    <div id="content-padding">
        <div>
            <section class="content">
                <div class="first-section">
                    <div class="article" id="actual-article">

                    </div>
                </div>
            </section>
        </div>
    </div> 

                <footer>
                <h5>Footer for little bits of info</h5>
            </footer>-->