body {
    color: navy;
    text-size-adjust: 100%;
    width: 100vw;
}

.page-header {
    overflow: hidden;
}

#app-title {
    text-align: center;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkviolet;
    background-color: lightblue;
}

