body {
  background-color: white;
}

h1 {
  font-family: 'Roboto';
  margin: auto;
  width: 50%;
  text-align: center;
}

.storyCard {
  margin: auto;
  width: 75%;
  padding: 10px;
  border: 1px solid black;
  font-family: 'Lato';
  background-color: lightgrey;
  text-align: center;
}

.storyThumb {
  width: 75%;
}