html,
head {
  background-color: rgb(89, 164, 199);
  font-weight: lighter;
}

img {
  width: 300px;
  height: 200px;
}
#header {
  font-family: Georgia, serif;
  padding: 20px 0 10px 0;
  font-size: 50px;
  text-align: center;
  font-weight: lighter;
}

#article {
  font-family: Georgia, serif;
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
}
