@import url('https://fonts.googleapis.com/css?family=Special Elite');
html,
body {
  height: 100%;
}

body {
  font-family: 'Special Elite';
}

img {
 width: 300px;
 height: 200px;
}

a {
  font-size: 30px;
}

#header {
  padding: 20px 0 10px 0;
  font-size: 75px;
  text-align: center;
}

#article {
  text-align: center;
  width: 300px;
  margin: auto;
}
