body {
  font-family: 'Montserrat Alternates', sans-serif;    
  width: 100vw;
  height: 100%;
  color: #fff;
  background-position: fixed;
  background-color: rgb(62, 60, 60);
  margin: 0;
  text-align: center;
}

#wrapper {
  padding-top: 50px;
  width: 99vw;
  height: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
  display: inline;
  overflow: auto;
  padding: 0;
  text-align: left;
}

li {
  display: inline-block;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  width: 500px;
  height: 400px;
  margin: 20px;
  overflow: hidden;
  box-shadow: 0 0 5px black;
}

li article {
  height: 0;  
}

.fade li > article {
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 400px;
}

.show article {
  opacity: 1;
  background-color: white;
}

li:hover {
  box-shadow: 0 0 5px white;  
}

li:active {
  transform: translateY(2px);
}

li p {
  height: 25%;
  margin: 0;
  text-decoration: none;
  color: rgb(62, 60, 60);
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 500%;
}

a {
  text-decoration: none;
}

.article {
  width: 100%;
  height: 100%;
}

.article figure {
  margin: 0;
  height: 75%;
}

.article img {
  box-sizing: border-box;
  border-bottom: 2px solid rgb(62, 60, 60);
}

#article-summary {
  background-color: white;
  max-width: 1000px;
  min-width: 500px;
  height: 80vh;
  margin: 0 auto;
  color: rgb(62, 60, 60);
  box-shadow: 0 0 5px black;  
}

#article-summary figure {
  margin: 0;
}

#article-summary h1, p {
  width: 50%;
  float: left;
}

#article-summary img {
  float: left;
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 20px;
}
