@font-face {
  font-family: 'BiotifBlack';
  src: url('../resources/fonts/Biotif-Black.ttf');
}

@font-face {
  font-family: 'BiotifBold';
  src: url('../resources/fonts/Biotif-Bold.ttf');
}

@font-face {
  font-family: 'BiotifBook';
  src: url('../resources/fonts/Biotif-Book.ttf');
}


body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: url('../resources/images/background.png');
  
  background-size: 120%;
  font-family: 'BiotifBold';
}

.container{
  border-radius: 2px;
  margin: 40px;
  height: 300px;
  width: 500px;
  position: relative;
  border: 8px solid black;
  background-color: yellow;
  border-radius: 10px;
  box-shadow: 8px 8px rgb(197, 197, 197);
}


@media screen and (max-width: 1100px){
  .container{
  height: 240px;
  width: 400px;
  border-radius: 10px;
  }
}

.post {
  position: absolute;
  border-radius:8px;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  margin: 0;
  padding: 0;
  color: black;
  font-size: large;
}

.post > h3{
  width: 90%;
  height: auto;
  word-wrap: wrap;
}

.post:hover + .background_image{
  -webkit-filter: none;
          filter: none;
}

.post > * {
  margin: 0;
  padding: 10px;
}

.card-image {
  max-width: 50%;
  position: absolute;
  padding: 5px;
  bottom: 0;
  right: 0;
  margin-bottom: 3vh;
  margin-right: 3vh;
  border-radius: 5px;
  background-color: white;
  border: 3px solid black;
}

.post-links{
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  left: 0;
  bottom: 0;
}

.section_button{
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 7; /* Sit on top */
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow-y: hidden;
  border-radius: 10px;
  background-color: rgba(32, 32, 32, 0.705); /* Fallback color */

}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  border-radius: 10px;
  padding: 50px;
  margin: 0 auto;
  margin-top: 5vh;
  overflow-y: scroll;
  width: 80vw;
  height: 80vh; 
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.modal-content::-webkit-scrollbar {
  display: none;
}

.bi-newspaper{
  font-size: 25px;
  color: rgb(70, 70, 70);
}

.bi-newspaper:hover{
  color: black;
}

[id*="close-"] {
  color: red;
  font-size: 20px;
  border: none;
  height: 30px;
  width: 30px;
  background-color: antiquewhite;
  box-shadow: 3px 3px rgb(197, 197, 197);
}

.modal-article-image {
  float: right;
  height: 250px;
  margin: 10px;
}

.modal > .modal-content > img, .gu-image {
  border: 6px solid yellow;
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  position: relative;
}


