header {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 4px #000 solid;
  margin-bottom: 10px;
}
.main-div {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  line-height: 1.5em;
}
