html {
  font-family: 'Open Sans', sans-serif;
  background-color: #222;
  color: rgb(207, 207, 207);
  line-height: 30px;
}

.desc {
  font-size: 25px;
  font-weight: 600;
}

.it {
  padding-left: 30px;
  padding-right: 30px;
}

.pass, .fail {
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  float: right;
}

.pass {
  color: #bada55;
}

.fail {
  color: rgb(255, 64, 64);
}

.resultBox {
  margin: auto;
  width: 60%;
}