#test-result {
  background-color: #F8F8F8;
  border-radius: 10px;
}

#test-report {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header {
  width:45px;
  margin-right:10px;
  float:left;
}

body {
  font-family: sans-serif;
}

li {
  color: #00cc00;
  font-weight: bold;
  text-indent: 20px;
}

h3 {
  text-indent: 10px;
}

.fail {
  color: red;
}

p.fail {
  text-indent: 55px;
  font-style: italic;
}
