body {
  text-align: left;
  margin-left: 10%;
  width: 80%;
}

.card {
  border: solid black;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

.block-time {
  font-size: medium;
  font-weight: bold;
}