body {
  display: flex; 
  flex-direction: column;
  font-family: didot;
  text-align: center;
}

img {
  width: 50%
}
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

#overlay {
  position: fixed; 
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.712);
  z-index: 2;
  cursor: pointer;
  backdrop-filter: blur(3px);
}

#news-story {
  padding: 20px;
  width: 60%;
  box-shadow: 0 8px 6px -6px #888888;
  border: solid;
  border-width: thin;
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 50px;
}

#story-summary {
  background-color: white;
  padding: 30px;
  width: 60%;
  box-shadow: inset 0 0 10px #000000;
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 50px;
}