@import url('https://fonts.googleapis.com/css?family=News+Cycle');

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

body {
  background-color: #E9E8E3;
  font-family: 'News Cycle', sans-serif;
}

h1 {
  background-color: #0F7BAC;
  font-size: 8em;
  font-family: 'News Cycle', sans-serif;
  text-align: center;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

h2 {
  font-size: 3em;
  text-align: center;
  color: rgb(54, 54, 54);
  margin-top: 0;
  -webkit-animation: fadein 6s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 6s;
  /* Firefox < 16 */
  -ms-animation: fadein 6s;
  /* Internet Explorer */
  -o-animation: fadein 6s;
  /* Opera < 12.1 */
  animation: fadein 6s;
}

ul {
  margin-left: 10px;
  max-width: 500px;
  list-style-image: url('../images/news-icon.png')
}

li {
  font-size: 1.2em;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

a {
  text-decoration: none;
  color: #0F7BAC;
}

a:hover {
  color: rgb(23, 172, 231)
}

img {
  border-radius: 12px;
  min-width: 95%
}