@import url('https://fonts.googleapis.com/css?family=News+Cycle');

body {
  background-color: #E9E8E3;
  font-family: 'News Cycle', sans-serif;
}

h1 {
  background-color: #0F7BAC;
  font-size: 8em;
  font-family: 'News Cycle', sans-serif;
  text-align: center;
  color: white;
  margin-top: 0;
  margin-bottom: 0
}

h2 {
  font-size: 3em; 
  text-align: center;
  color: rgb(54, 54, 54);
  margin-top: 0
}

ul {
  margin-left: 10px;
  list-style-image: url('../images/news-icon.png')
}

li {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: #0F7BAC;
}

a:hover {
  color:  rgb(23, 172, 231)
}

img {
  border-radius: 12px
}