.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.frame {
  display: grid;
  grid-template-rows: 15% 85%;
  height: 800px;
  width: 450px;
  border: solid black;
}

.title-container {
  margin: auto;
  background-color: red;
}

.body-container {
  background-color: blue;
  display: grid;
  grid-template-rows: 50% 50%;
}

.body-container {
  background-color: blue;
  display: grid;
  grid-template-rows: 50% 50%;
}

.name-form-container {
  background-color: aqua;
  margin: auto;
}

.anon-container {
  display: grid;
  grid-template-rows: 40% 60%;
  background-color: bisque;
}

.anon-title-container {
  margin: auto;
}

.anon-button-container {
  margin: auto;
}

.button {
  margin: auto;
}

.title {
  text-align: center;
}