body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

img {
  /* height: 10%; */
  height: 90%;
  width: 100%;
  box-shadow: 3px 5px 25px rgba(0,0,0,0.3);
  /* margin-left: 25%;
  margin-right: 25%; */
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
  font-family: 'Courier New', Courier, monospace
}

div.wrapper {
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

.header {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .wrapper {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .wrapper {
    flex: 1 1 calc(33% - 2rem);
  }
}

.body {
  width: 50%;
  margin-left: 25%;
}


.article__body > p {
  font-family: 'Playfair Display', serif;
  font-size: 1.4em;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

.scroll {
  position: fixed;
  bottom: 30px;
  right: 20%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: none

}
.scroll__next {
  position: fixed;
  bottom: 50px;
  right: 20%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: none

}