html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h1 {
    display: block;
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    background-color: #f5f5f5;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 6rem;
    background-color: #f5f5f5;
    font-family: "Inter", sans-serif;
}



p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

div {
    display: block;
}



.grid {
    display: grid;
    width: 114rem;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: start;
}

.grid_item {
    background-color: #fff;
    border-radius: .4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}

.grid_item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.card {
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.card_img {
    font-family: "Inter", sans-serif;
    display: block;
    width: 100%;
    object-fit: cover;
}

.card_content {
    padding: 3rem 3rem;
}

.card_header {
    font-size: 2.2rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1.5rem;
}

.card_text {
    font-size: 1.5rem;
    letter-spacing: .1rem;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 2.5rem;
}

button {
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.card_btn {
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: #3363ff;
    background-color: #e6ecff;
    border: none;
    border-radius: .4rem;
    transition: 0.2s;
    cursor: pointer;
}

.card_btn span {
    margin-left: 1rem;
    transition: 0.2s;
}
