@font-face {
  font-family: Ancho;
	src: url('AnchoGX.ttf') format('truetype');
}

body {
  font-family: 'Crack Grotesk Bold';
  height: 100000px;
}

header {
  position:fixed;
  top:0;
  left:0;
  width: 100vw;
  background-color: navy;

  display: flex;
  align-items: center;
  justify-content: center;
}

header h1{
  color: #fff;
  font-size: 56px;
  font-family: 'Ancho';
  margin: 16px 0 16px 0;
}

.content {
  max-width: 80%;
  margin: auto;
  margin-top: 16px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: start
}


.content h2 {
  font-size: 40px;
  font-family: 'DM Serif Display', serif;
}

.content h2:hover{
  color: navy;
  text-decoration: underline;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  max-width: 30%;
  max-height: 300px;
}


.container:after {
  display: block;
  content: " placeholder ";
  margin: 10px;
  flex: 999 999 auto;
}
.item {
  flex: 0 0 auto;
  margin: 10px;
}
