body {
    margin-left: auto;
    margin-right: auto;
}


.content {
    max-width: 500px;
    margin: auto;
}

.title{
    font-weight: normal;
    font-family: 'Source Sans Pro', sans-serif;
    color: #2e1711;
    text-align: center;
}

#date {
    font-weight: normal;
    font-family: 'Source Sans Pro', sans-serif;
    color: #2e1711;
    text-align: center;
    font-size: 40px;
}
a {
    font-weight: normal;
    font-family: 'Source Sans Pro', sans-serif;
    color: #2e1711;

}

#news_collection {
    font-weight: normal;
    font-family: 'Source Sans Pro', sans-serif;
}
#news_summary {
    font-weight: normal;
    font-family: 'Source Sans Pro', sans-serif;


}

#full_news{
    font-weight: normal;
    font-family: 'Source Sans Pro', sans-serif;

}

.element {

padding: 20px;
}

.title-art {
text-align: "center";
margin: 0 auto;
}