html {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: grey;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 12px;
}

header {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  box-sizing: border-box;
}

#header {
  font-size: 40px;
  margin: 0;
}

#test-info {
  font-size: 20px;
}

.hidden {
  display: none;
}

.describe_block{
  color: white;
  font-family: Arial Black;
}

.passes{
  color: lime;
  font-family: Arial;
}

.fails{
  color: red;
  font-family: Arial;
}

article {
  padding-left: 20px;
}

article div {
  padding-left: 20px;
}
