/* div {
  border: 1px solid red;
} */

html {
  background: #243b43;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #243b43 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

body {
  background: white;
  width: 935px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  position:relative;
  top: 10px;
  bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 15px 25px;
}

h1 {
  line-height: 48px;
  font-size: 34px;
  color: #000000;
  text-align: left;
  font-family: Verdana;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #243b43, #adc2c9);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

p {
  line-height: 48px;
  font-size: 20px;
  color: #000000;
  text-align: center;
  font-family: Verdana;
}

span {
  right: 40px;
  font-size: 13px;
  color: #888888;
  text-align: left;
  font-family: Verdana;
}

.icons {
  width: 40px;
  height: 40px;
  padding-top: 20px;
  opacity: 0.7;
}

.icons:hover {
  opacity: 0.4;
  width: 40px;
  height: 40px;
}

.contacts {
  bottom: 25px;
  left: 5px;
  display: flex;
  position: fixed;
}

.left {
  width: 300px;
  display: flex;
}

.right {
  width: 600px;
  text-align: center;
  padding: 20px;
}

.headline {
  display: flex;
  width: 900px;
  overflow: hidden;
  background-color: #afc5cc;
  margin:20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: transform .2s;
}

.headline:hover {
  transform: scale(1.03);
  background-color: #d3e4e9;
}


.main-container {
  width: 900px;
  display: flex;
  box-shadow: rgb(0, 0, 0) 10px 5px 50px;
}

input[type=text] {
  width: 20%;
  background: #ffffff;
  border-radius: 10px;
  padding: 8px 6px;
  border: 1px solid rgb(156, 156, 156);
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 123px;
  margin-top: 38px;
}

button {
  background: #afc5cc;
  ;
  border-radius: 10px;
  padding: 8px 6px;
  border: 1px solid rgb(156, 156, 156);
  font-size: 18px;
  cursor: pointer;
  width: 10%;
  font-family: Verdana;
  position: absolute;
  top: 10px;
  right: 20px;
  margin-top: 38px;
  transition: transform .2s;
}

button:hover {
  color: #fff;
  background: #243b43;
  font-family: Verdana;
  transform: scale(1.01);
}

a:link { text-decoration: none;
}

a:visited { text-decoration: none;
}

a:hover { text-decoration: none;
}

a:active { text-decoration: none;
}
