body {
  background-color: #99bffc;
  color: #2d589e;
  font-family: 'ABeeZee';
}

h1 {
  text-align: center;
  font-weight: 900;
}

button {
  margin: 5px;
}

#centering-div {
  width: 90%;
  margin: auto;
  display: block;
}

#grid-container {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

a {
  color: inherit;
}

p.headline {
  font-size: 30px;
  margin-bottom: 2px;
  margin-top: 2px;
}

div.storyDiv {
  background-color: #d8e7ff;
  border-radius: 5px;
  padding: 5px;
}

div.individualStoryDiv {
  background-color: #d8e7ff;
  border-radius: 5px;
  padding: 5px;
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.storyLink {
}

img {
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
}

img.focus {
  height: 400px;
  overflow: hidden;
}
