.half{
    display: inline-block;
    width:45%;
    padding:10px;
}

#daily-mail-container{
    float:right;
}

body{
    background: #797F9A;
    font-family: 'Roboto', sans-serif;
}

body h1, .half h2{
    text-align: center;
}

.half{
  background: #A1A9CC;
  border-radius: 5px;
  padding:10px;
}

.half div {
    background:white;
    opacity:0.8;
    margin: 10px;
    padding:10px;
    border-radius:10px;
}

.half div div{
    background-size:contain;
    background-repeat:no-repeat;
}

/*===========  news article types */

.thumb{
    border-radius: 10px;
    padding:10px;
    margin: 10px;
    opacity: 0.2;
}
