body {
  background-color: black;
  /* background-image: linear-gradient(to right, lightblue, turquoise); */
  font-family: "Courier new";
  color: white;
  text-align: center;
}

header {
  /* background-image: linear-gradient(to bottom, lightblue, white); */
  background-color: white;
  padding: 30px;
  margin: -20px;
  margin-bottom: 50px;
  color: pink;
  position: fixed;
  width:100%;
}

button {
  background-color: white;
  color: black;
  border: none;
}

a {
  color: #32a8a6;
}

a:hover{
  cursor:pointer;
}

.none {
  /* border: 3px solid #73AD21; */
  display: inline-grid !important;
  grid-template-columns: auto auto auto !important;
}
.headlineHide {
  display: none !important;
}

#buttonId {
  justify-content: center !important;
  padding-top:150px;
}

#headlines {
  /* border: 3px solid #73AD21; */
  display: inline-grid;
  grid-template-columns: auto auto auto;
}

#showSummary {

}

.oneHeadlineDiv {
margin: 20px;
width: 320px;
/* border: 1px solid white; */
justify-content: center;
background-color: white;
padding: 10px;
color:black;
}

img {
  width: 300px;
  margin-top: 30px;
}

.summaryStory {
  border: 1px solid white;
  margin: auto;
  width: 1000px;
  padding: 20px;
}

.headTitles {
  background-color: white;
  height: 70px;
  width: 300px;
  color: black;
  padding-top: 20px;
  margin-left: 10px;
}
