#news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3.5em;
  width: 25%;
  margin-top: 3em;
  margin-left: 3%;
  float: left;
}

.single {
  background-color: #a4d9bc;
  margin-top: 0.8em;
  margin-right: 0.8em;
  transition: all 0.3s;
  padding: 0.2em;
  border-style: solid;
  border-color: #a0b6aa;
  border-width: 0.15em;
  border-radius: 0.3em;
}

.single:hover {
  transform: scale(.92);
  background-color: #dad2a4;
}

#info {
  text-align: center;
}

#headline {
  padding: 0.4em;
  font-size: 1em;
  font-family: Work Sans;
}

#url {
  padding: 0.5em;
  margin-top: 0.2em;
  font-size: 0.5em;
  color: 385627;
}

#img_box {
  width: 60%;
  margin-left: 20%;
  border-radius: 0.3em;
  border-style: solid;
  border-width: 0.1em;
  border-color: grey;
}

#headline_box {
  margin-top: 0.2em;
  margin-bottom: 1em;
  font-size: 1.3em;
}

#content_box {
  font-size: 0.9em;
}

#url_box {
  font-size: 0.7em;
  position: absolute;
  bottom: 0.4em;
}

#summary_box {
  position: relative;
  padding: 1.3em;
  font-family: Work Sans;
  margin-top: 3.5em;
  height: 38em;
  margin-right: 7%;
  float: right;
  width: 47%;
  background-color: lightgrey;
  border-style: solid;
  border-color: #c5bdbd;
  border-radius: 0.3em;
}

a:link {
    color: #c51919;
}

a:visited {
    color: #407156;
}

a:hover {
    color: hotpink;
    transform: scale(1.05);
}

a:active {
    color: #c51919;
}
