#news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3em;
  width: 25%;
  margin-top: 3em;
  margin-left: 3%;
  float: left;
}

.single {
  background-color: #a4d9bc;
  margin-top: 0.8em;
  margin-right: 0.8em;
  transition: all 0.3s;
  padding: 0.2em;
}

.single:hover {
  transform: scale(.92);
  background-color: #dad2a4;
}

#headline {
  padding: 0.4em;
  font-size: 1em;
  font-family: Work Sans;
}

#url {
  padding: 0.5em;
  margin-top: 0.2em;
  font-size: 0.5em;
  color: 385627;
}

#headline_box {
  margin-bottom: 1.5em;
  font-size: 1.5em;
}

#url_box {
  position: absolute;
  bottom: 0.4em;
}

#summary_box {
  position: relative;
  padding: 1.5em;
  font-family: Work Sans;
  margin-top: 4em;
  height: 33em;
  margin-right: 10%;
  float: right;
  width: 40%;
  background-color: lightgrey;
}
