body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

button#home {
  font-family: 'Fredoka One', cursive;
  margin-top: 10%;
  border: none;
  background-color: inherit;
  font-size: 32px;
  cursor: pointer;
  display: inline-block;
}

button#home:hover {
  color: #eee;
}
