body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

button#home {
  font-family: 'Fredoka One', cursive;
  color: #491D2C;
  margin-top: 10%;
  margin-bottom: 2%;
  margin-left: 36.5%;
  border: none;
  background-color: inherit;
  font-size: 4vw;
  float: left;
}

button#home:hover {
  color: #F3E8DF;
}

button#home:focus {
  outline: none;
}

img#shallot {
  float: left;
  margin-top: 11%;
}

section#title {
  display: inline-block;
}
