<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="../public/styles.css">
    <title>News App</title>
</head>
<body>
    <p id="demo"></p>

    <script>
   
    </script>
    

    <div id='news_collection'>
        <h1>News:</h1>
    </div>
    <div id='news_summary'>
        <h1>Summary:</h1>
    </div>

    <div id='full_news'>
        <h1>Body:</h1>
    </div>
</body>
<script src='/news.js'></script>
<script src='/newsCollection.js'></script>
<script src='/interface.js'></script>
</html>